In [1]:
import pandas as pd 
import statsmodels.api as sm
from patsy import dmatrices, dmatrix
#!pip install linearmodels # Si besoin d'installer la bibliothèque linearmodels enlever le '#' avant !pip(à faire une fois)
from linearmodels.iv import IV2SLS

Requirement already satisfied: linearmodels in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (4.25)
Requirement already satisfied: formulaic in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.2.4)
Requirement already satisfied: pyhdfe>=0.1 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.1.0)
Requirement already satisfied: Cython>=0.29.21 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.29.23)
Requirement already satisfied: scipy>=1.2 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.6.2)
Requirement already satisfied: pandas>=0.24 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.2.4)
Requirement already satisfied: property-cached>=1.6.3 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.6.4)
Requirement already satisfied: mypy-extensions>=0.4 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.4.3)
Requirement already satisfied: statsmodels>=0.11 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.12.2)
Requirement already satisfied: patsy in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (0.5.1)
Requirement already satisfied: numpy>=1.16 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from linearmodels) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.24->linearmodels) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Requirement already satisfied: astor in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: interface-meta>=1.2 in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from formulaic->linearmodels) (1.2.4)
Requirement already satisfied: wrapt in /Users/michalurdanivia/opt/anaconda3/lib/python3.8/site-packages (from formulaic->linearmodels) (1.12.1)

In [2]:
ak1991df = pd.read_excel('https://www.ssc.wisc.edu/~bhansen/econometrics/AK1991.xlsx')
ak1991df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ageq     329509 non-null  float64
 1   edu      329509 non-null  int64
 2   logwage  329509 non-null  float64
 3   married  329509 non-null  int64
 4   state    329509 non-null  int64
 5   qob      329509 non-null  int64
 6   black    329509 non-null  int64
 7   smsa     329509 non-null  int64
 8   yob      329509 non-null  int64
 9   region   329509 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 25.1 MB

In [7]:
y, x_ex = dmatrices('logwage ~ married + black + smsa + C(yob) + C(region)', ak1991df, return_type='dataframe')
x_en = ak1991df['edu']
z  = dmatrix('C(yob):C(qob) -1' , ak1991df, return_type='dataframe')
z = z.drop(z.iloc[:, 0: 10], axis=1)

In [6]:
#print(y.shape, x.shape, z.shape)
#print(y.head())
#print(x_ex.head())
#print(z.head())

(329509, 1) (329509, 21) (329509, 30)
    logwage
0  6.245846
1  5.847161
2  6.645516
3  6.706133
4  6.357876
   Intercept  C(yob)[T.1931]  C(yob)[T.1932]  C(yob)[T.1933]  C(yob)[T.1934]  \
0        1.0             0.0             0.0             1.0             0.0
1        1.0             0.0             0.0             1.0             0.0
2        1.0             0.0             0.0             0.0             0.0
3        1.0             0.0             0.0             1.0             0.0
4        1.0             0.0             0.0             0.0             0.0

   C(yob)[T.1935]  C(yob)[T.1936]  C(yob)[T.1937]  C(yob)[T.1938]  \
0             0.0             0.0             0.0             0.0
1             0.0             0.0             0.0             0.0
2             0.0             0.0             0.0             0.0
3             0.0             0.0             0.0             0.0
4             0.0             0.0             1.0             0.0

   C(yob)[T.1939]  ...  C(region)[T.2]  C(region)[T.3]  C(region)[T.4]  \
0             0.0  ...             0.0             0.0             0.0
1             0.0  ...             0.0             0.0             0.0
2             0.0  ...             0.0             0.0             0.0
3             0.0  ...             0.0             0.0             0.0
4             0.0  ...             0.0             0.0             0.0

   C(region)[T.5]  C(region)[T.6]  C(region)[T.7]  C(region)[T.8]  married  \
0             0.0             0.0             0.0             0.0      1.0
1             0.0             0.0             0.0             0.0      1.0
2             0.0             0.0             0.0             0.0      1.0
3             0.0             0.0             0.0             0.0      1.0
4             0.0             0.0             0.0             0.0      1.0

   black  smsa
0    1.0   1.0
1    1.0   1.0
2    1.0   1.0
3    1.0   1.0
4    1.0   1.0

[5 rows x 21 columns]
   C(yob)[1930]:C(qob)[2]  C(yob)[1931]:C(qob)[2]  C(yob)[1932]:C(qob)[2]  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   C(yob)[1933]:C(qob)[2]  C(yob)[1934]:C(qob)[2]  C(yob)[1935]:C(qob)[2]  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   C(yob)[1936]:C(qob)[2]  C(yob)[1937]:C(qob)[2]  C(yob)[1938]:C(qob)[2]  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   C(yob)[1939]:C(qob)[2]  ...  C(yob)[1930]:C(qob)[4]  \
0                     0.0  ...                     0.0
1                     0.0  ...                     0.0
2                     0.0  ...                     0.0
3                     0.0  ...                     0.0
4                     0.0  ...                     0.0

   C(yob)[1931]:C(qob)[4]  C(yob)[1932]:C(qob)[4]  C(yob)[1933]:C(qob)[4]  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     1.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   C(yob)[1934]:C(qob)[4]  C(yob)[1935]:C(qob)[4]  C(yob)[1936]:C(qob)[4]  \
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     0.0                     0.0                     0.0

   C(yob)[1937]:C(qob)[4]  C(yob)[1938]:C(qob)[4]  C(yob)[1939]:C(qob)[4]
0                     0.0                     0.0                     0.0
1                     0.0                     0.0                     0.0
2                     0.0                     0.0                     0.0
3                     0.0                     0.0                     0.0
4                     1.0                     0.0                     0.0

[5 rows x 30 columns]

In [10]:
model_iv2sls = IV2SLS(y, x_ex, x_en, z).fit(
    cov_type="robust")
print(model_iv2sls)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                logwage   R-squared:                      0.1584
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1584
No. Observations:              329509   F-statistic:                 2.476e+04
Date:                Thu, Mar 03 2022   P-value (F-stat)                0.0000
Time:                        10:39:02   Distribution:                 chi2(21)
Cov. Estimator:                robust

                               Parameter Estimates
==================================================================================
                Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------
Intercept          4.6269     0.2034     22.750     0.0000      4.2282      5.0255
C(yob)[T.1931]    -0.0065     0.0055    -1.1742     0.2403     -0.0173      0.0043
C(yob)[T.1932]    -0.0118     0.0059    -2.0201     0.0434     -0.0233     -0.0004
C(yob)[T.1933]    -0.0128     0.0065    -1.9633     0.0496     -0.0257  -2.189e-05
C(yob)[T.1934]    -0.0162     0.0069    -2.3456     0.0190     -0.0297     -0.0027
C(yob)[T.1935]    -0.0272     0.0078    -3.4785     0.0005     -0.0425     -0.0119
C(yob)[T.1936]    -0.0275     0.0084    -3.2833     0.0010     -0.0440     -0.0111
C(yob)[T.1937]    -0.0313     0.0093    -3.3795     0.0007     -0.0495     -0.0132
C(yob)[T.1938]    -0.0320     0.0105    -3.0567     0.0022     -0.0524     -0.0115
C(yob)[T.1939]    -0.0412     0.0112    -3.6918     0.0002     -0.0631     -0.0193
C(region)[T.1]     0.0343     0.0180     1.9116     0.0559     -0.0009      0.0696
C(region)[T.2]    -0.1355     0.0282    -4.8090     0.0000     -0.1907     -0.0803
C(region)[T.3]    -0.0410     0.0120    -3.4125     0.0006     -0.0645     -0.0174
C(region)[T.4]    -0.0880     0.0070    -12.520     0.0000     -0.1017     -0.0742
C(region)[T.5]    -0.1034     0.0109    -9.4515     0.0000     -0.1248     -0.0819
C(region)[T.6]    -0.1203     0.0186    -6.4585     0.0000     -0.1568     -0.0838
C(region)[T.7]    -0.0951     0.0132    -7.1969     0.0000     -0.1209     -0.0692
C(region)[T.8]    -0.0868     0.0164    -5.3015     0.0000     -0.1188     -0.0547
married            0.2440     0.0052     47.336     0.0000      0.2339      0.2541
black             -0.2302     0.0264    -8.7137     0.0000     -0.2820     -0.1784
smsa               0.1581     0.0175     9.0214     0.0000      0.1238      0.1925
edu                0.0806     0.0165     4.8853     0.0000      0.0482      0.1129
==================================================================================

Endogenous: edu
Instruments: C(yob)[1930]:C(qob)[2], C(yob)[1931]:C(qob)[2], C(yob)[1932]:C(qob)[2], C(yob)[1933]:C(qob)[2], C(yob)[1934]:C(qob)[2], C(yob)[1935]:C(qob)[2], C(yob)[1936]:C(qob)[2], C(yob)[1937]:C(qob)[2], C(yob)[1938]:C(qob)[2], C(yob)[1939]:C(qob)[2], C(yob)[1930]:C(qob)[3], C(yob)[1931]:C(qob)[3], C(yob)[1932]:C(qob)[3], C(yob)[1933]:C(qob)[3], C(yob)[1934]:C(qob)[3], C(yob)[1935]:C(qob)[3], C(yob)[1936]:C(qob)[3], C(yob)[1937]:C(qob)[3], C(yob)[1938]:C(qob)[3], C(yob)[1939]:C(qob)[3], C(yob)[1930]:C(qob)[4], C(yob)[1931]:C(qob)[4], C(yob)[1932]:C(qob)[4], C(yob)[1933]:C(qob)[4], C(yob)[1934]:C(qob)[4], C(yob)[1935]:C(qob)[4], C(yob)[1936]:C(qob)[4], C(yob)[1937]:C(qob)[4], C(yob)[1938]:C(qob)[4], C(yob)[1939]:C(qob)[4]
Robust Covariance (Heteroskedastic)
Debiased: False

In [10]:
model = sm.OLS(Y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.165
Model:                            OLS   Adj. R-squared:                  0.165
Method:                 Least Squares   F-statistic:                     3101.
Date:                Wed, 02 Mar 2022   Prob (F-statistic):               0.00
Time:                        20:16:32   Log-Likelihood:            -3.1019e+05
No. Observations:              329509   AIC:                         6.204e+05
Df Residuals:                  329487   BIC:                         6.207e+05
Df Model:                          21
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          4.8401      0.007    675.204      0.000       4.826       4.854
C(yob)[T.1931]    -0.0040      0.005     -0.825      0.409      -0.014       0.006
C(yob)[T.1932]    -0.0085      0.005     -1.749      0.080      -0.018       0.001
C(yob)[T.1933]    -0.0083      0.005     -1.704      0.088      -0.018       0.001
C(yob)[T.1934]    -0.0112      0.005     -2.300      0.021      -0.021      -0.002
C(yob)[T.1935]    -0.0208      0.005     -4.321      0.000      -0.030      -0.011
C(yob)[T.1936]    -0.0204      0.005     -4.228      0.000      -0.030      -0.011
C(yob)[T.1937]    -0.0230      0.005     -4.823      0.000      -0.032      -0.014
C(yob)[T.1938]    -0.0222      0.005     -4.681      0.000      -0.031      -0.013
C(yob)[T.1939]    -0.0306      0.005     -6.494      0.000      -0.040      -0.021
C(region)[T.1]     0.0160      0.004      4.054      0.000       0.008       0.024
C(region)[T.2]    -0.1644      0.005    -30.876      0.000      -0.175      -0.154
C(region)[T.3]    -0.0528      0.004    -12.869      0.000      -0.061      -0.045
C(region)[T.4]    -0.0921      0.006    -15.907      0.000      -0.103      -0.081
C(region)[T.5]    -0.1134      0.006    -20.570      0.000      -0.124      -0.103
C(region)[T.6]    -0.1393      0.004    -33.949      0.000      -0.147      -0.131
C(region)[T.7]    -0.1078      0.005    -21.537      0.000      -0.118      -0.098
C(region)[T.8]    -0.1032      0.005    -22.093      0.000      -0.112      -0.094
edu                0.0632      0.000    186.421      0.000       0.063       0.064
married            0.2479      0.003     78.276      0.000       0.242       0.254
black             -0.2575      0.004    -63.711      0.000      -0.265      -0.250
smsa               0.1763      0.003     61.526      0.000       0.171       0.182
==============================================================================
Omnibus:                   197025.065   Durbin-Watson:                   1.876
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4788293.257
Skew:                          -2.439   Prob(JB):                         0.00
Kurtosis:                      21.027   Cond. No.                         142.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
Xb = np.as

In [3]:
yob_region_dummies = pd.get_dummies(data = ak1991df[['yob', 'region', 'qob']], columns= ['yob', 'region', 'qob'])
yob_region_dummies.info()
ak1991df2 = pd.concat([ak1991df,  yob_region_dummies], axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 23 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   yob_1930  329509 non-null  uint8
 1   yob_1931  329509 non-null  uint8
 2   yob_1932  329509 non-null  uint8
 3   yob_1933  329509 non-null  uint8
 4   yob_1934  329509 non-null  uint8
 5   yob_1935  329509 non-null  uint8
 6   yob_1936  329509 non-null  uint8
 7   yob_1937  329509 non-null  uint8
 8   yob_1938  329509 non-null  uint8
 9   yob_1939  329509 non-null  uint8
 10  region_0  329509 non-null  uint8
 11  region_1  329509 non-null  uint8
 12  region_2  329509 non-null  uint8
 13  region_3  329509 non-null  uint8
 14  region_4  329509 non-null  uint8
 15  region_5  329509 non-null  uint8
 16  region_6  329509 non-null  uint8
 17  region_7  329509 non-null  uint8
 18  region_8  329509 non-null  uint8
 19  qob_1     329509 non-null  uint8
 20  qob_2     329509 non-null  uint8
 21  qob_3     329509 non-null  uint8
 22  qob_4     329509 non-null  uint8
dtypes: uint8(23)
memory usage: 7.2 MB

In [4]:
ak1991df = pd.concat([ak1991df,  yob_region_dummies], axis=1)
print(ak1991df.shape)
print(ak1991df.info())
ak1991df.head()

(329509, 33)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329509 entries, 0 to 329508
Data columns (total 33 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ageq      329509 non-null  float64
 1   edu       329509 non-null  int64
 2   logwage   329509 non-null  float64
 3   married   329509 non-null  int64
 4   state     329509 non-null  int64
 5   qob       329509 non-null  int64
 6   black     329509 non-null  int64
 7   smsa      329509 non-null  int64
 8   yob       329509 non-null  int64
 9   region    329509 non-null  int64
 10  yob_1930  329509 non-null  uint8
 11  yob_1931  329509 non-null  uint8
 12  yob_1932  329509 non-null  uint8
 13  yob_1933  329509 non-null  uint8
 14  yob_1934  329509 non-null  uint8
 15  yob_1935  329509 non-null  uint8
 16  yob_1936  329509 non-null  uint8
 17  yob_1937  329509 non-null  uint8
 18  yob_1938  329509 non-null  uint8
 19  yob_1939  329509 non-null  uint8
 20  region_0  329509 non-null  uint8
 21  region_1  329509 non-null  uint8
 22  region_2  329509 non-null  uint8
 23  region_3  329509 non-null  uint8
 24  region_4  329509 non-null  uint8
 25  region_5  329509 non-null  uint8
 26  region_6  329509 non-null  uint8
 27  region_7  329509 non-null  uint8
 28  region_8  329509 non-null  uint8
 29  qob_1     329509 non-null  uint8
 30  qob_2     329509 non-null  uint8
 31  qob_3     329509 non-null  uint8
 32  qob_4     329509 non-null  uint8
dtypes: float64(2), int64(8), uint8(23)
memory usage: 32.4 MB
None

,ageq,edu,logwage,married,state,qob,black,smsa,yob,region,...,region_3,region_4,region_5,region_6,region_7,region_8,qob_1,qob_2,qob_3,qob_4
0,47.00,12,6.245846,1,1,1,1,1,1933,0,...,0,0,0,0,0,0,1,0,0,0
1,46.25,12,5.847161,1,48,4,1,1,1933,0,...,0,0,0,0,0,0,0,0,0,1
2,50.00,12,6.645516,1,2,1,1,1,1930,0,...,0,0,0,0,0,0,1,0,0,0
3,47.00,16,6.706133,1,22,1,1,1,1933,0,...,0,0,0,0,0,0,1,0,0,0
4,42.25,14,6.357876,1,42,4,1,1,1937,0,...,0,0,0,0,0,0,0,0,0,1

In [1]:
Y = ak1991df['logwage']
X = ak1991df[['edu', 'black', 'smsa', 'married', 'region_1', 'region_2', 'region_3', 'region_4', 'region_5',
'region_6', 'region_7', 'region_8', 'yob_1931', 'yob_1932', 'yob_1933', 'yob_1934', 'yob_1935', 'yob_1936',
'yob_1937', 'yob_1938', 'yob_1939']]
Z = ak1991df[['yob_1930','yob_1931', 'yob_1932', 'yob_1933', 'yob_1934', 'yob_1935', 'yob_1936', 'yob_1937', 
'yob_1938', 'yob_1939','qob_1', 'qob_2', 'qob_3']]
Z = PolynomialFeatures(2, interaction_only=True, include_bias=False).fit_transform(Z)

NameError: name 'ak1991df' is not defined

In [5]:
Z1 = ak1991df[['yob_1930','yob_1931', 'yob_1932', 'yob_1933', 'yob_1934', 'yob_1935', 'yob_1936', 'yob_1937',
'yob_1938', 'yob_1939']] * ak1991df['qob_1']

In [28]:
Z = dmatrix("C(qob):C(yob)", ak1991df)

In [29]:
f =

(329509, 40)

In [21]:
import statsmodels.api as sm
model = sm.OLS(Y, sm.add_constant(X))
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                logwage   R-squared:                       0.165
Model:                            OLS   Adj. R-squared:                  0.165
Method:                 Least Squares   F-statistic:                     3101.
Date:                Wed, 02 Mar 2022   Prob (F-statistic):               0.00
Time:                        11:49:36   Log-Likelihood:            -3.1019e+05
No. Observations:              329509   AIC:                         6.204e+05
Df Residuals:                  329487   BIC:                         6.207e+05
Df Model:                          21
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.8401      0.007    675.204      0.000       4.826       4.854
edu            0.0632      0.000    186.421      0.000       0.063       0.064
black         -0.2575      0.004    -63.711      0.000      -0.265      -0.250
smsa           0.1763      0.003     61.526      0.000       0.171       0.182
married        0.2479      0.003     78.276      0.000       0.242       0.254
region_1       0.0160      0.004      4.054      0.000       0.008       0.024
region_2      -0.1644      0.005    -30.876      0.000      -0.175      -0.154
region_3      -0.0528      0.004    -12.869      0.000      -0.061      -0.045
region_4      -0.0921      0.006    -15.907      0.000      -0.103      -0.081
region_5      -0.1134      0.006    -20.570      0.000      -0.124      -0.103
region_6      -0.1393      0.004    -33.949      0.000      -0.147      -0.131
region_7      -0.1078      0.005    -21.537      0.000      -0.118      -0.098
region_8      -0.1032      0.005    -22.093      0.000      -0.112      -0.094
yob_1931      -0.0040      0.005     -0.825      0.409      -0.014       0.006
yob_1932      -0.0085      0.005     -1.749      0.080      -0.018       0.001
yob_1933      -0.0083      0.005     -1.704      0.088      -0.018       0.001
yob_1934      -0.0112      0.005     -2.300      0.021      -0.021      -0.002
yob_1935      -0.0208      0.005     -4.321      0.000      -0.030      -0.011
yob_1936      -0.0204      0.005     -4.228      0.000      -0.030      -0.011
yob_1937      -0.0230      0.005     -4.823      0.000      -0.032      -0.014
yob_1938      -0.0222      0.005     -4.681      0.000      -0.031      -0.013
yob_1939      -0.0306      0.005     -6.494      0.000      -0.040      -0.021
==============================================================================
Omnibus:                   197025.065   Durbin-Watson:                   1.876
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4788293.257
Skew:                          -2.439   Prob(JB):                         0.00
Kurtosis:                      21.027   Cond. No.                         142.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.