In [7]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [2]:
url = 'https://uploads-ssl.webflow.com/629e460595fdd36617348189/62a0fd19b6742078eed59f47_fish.out.txt'
fish_df = pd.read_table(url, sep="\t")

In [5]:
fish_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day1        111 non-null    int64
 1   day2        111 non-null    int64
 2   day3        111 non-null    int64
 3   day4        111 non-null    int64
 4   date        111 non-null    int64
 5   stormy      111 non-null    int64
 6   mixed       111 non-null    int64
 7   price       111 non-null    float64
 8   qty         111 non-null    float64
 9   rainy       111 non-null    int64
 10  cold        111 non-null    int64
 11  windspd     111 non-null    float64
 12  windspd2    111 non-null    float64
 13  pricelevel  111 non-null    float64
 14  totr        111 non-null    int64
 15  tots        111 non-null    int64
dtypes: float64(5), int64(11)
memory usage: 14.0 KB

In [5]:
fish_df.head()

,day1,day2,day3,day4,date,stormy,mixed,price,qty,rainy,cold,windspd,windspd2,pricelevel,totr,tots
0,1,0,0,0,911202,1,0,-0.430783,8.994421,1,0,2.995732,8.974412,0.650000,7232,8058
1,0,1,0,0,911203,1,0,0.000000,7.707063,0,0,2.995732,8.974412,1.000000,2110,2224
2,0,0,1,0,911204,0,1,0.072321,8.350194,1,1,2.813411,7.915280,1.075000,5247,4231
3,0,0,0,1,911205,1,0,0.247139,8.656955,0,1,3.036554,9.220662,1.280357,1290,5750
4,0,0,0,0,911206,1,0,0.664327,7.844241,0,1,3.036554,9.220662,1.943182,1717,2551

In [6]:
fish_df.describe()

,day1,day2,day3,day4,date,stormy,mixed,price,qty,rainy,cold,windspd,windspd2,pricelevel,totr,tots
count,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000,111.000000
mean,0.189189,0.207207,0.189189,0.207207,918566.675676,0.288288,0.306306,-0.193681,8.523430,0.162162,0.504505,2.862695,8.238159,0.884524,6426.711712,6325.477477
std,0.393435,0.407143,0.393435,0.407143,3568.817767,0.455020,0.463049,0.381935,0.741672,0.370271,0.502247,0.208632,1.208728,0.335113,4980.898700,4050.279321
min,0.000000,0.000000,0.000000,0.000000,911202.000000,0.000000,0.000000,-1.107745,6.194406,0.000000,0.000000,2.456736,6.035551,0.330303,10.000000,490.000000
25%,0.000000,0.000000,0.000000,0.000000,920111.500000,0.000000,0.000000,-0.479651,8.147429,0.000000,0.000000,2.708050,7.333536,0.619000,2650.500000,3395.000000
50%,0.000000,0.000000,0.000000,0.000000,920220.000000,0.000000,0.000000,-0.206514,8.621193,0.000000,1.000000,2.862201,8.192194,0.813415,5680.000000,5535.000000
75%,0.000000,0.000000,0.000000,0.000000,920330.500000,1.000000,1.000000,0.163000,9.035391,0.000000,1.000000,2.995732,8.974412,1.177083,8503.000000,8460.000000
max,1.000000,1.000000,1.000000,1.000000,920508.000000,1.000000,1.000000,0.664327,9.981374,1.000000,1.000000,3.401197,11.568140,1.943182,26530.000000,21620.000000

In [9]:
fish_df['lqty'] = np.log(fish_df['qty'])
fish_df['lprice'] = np.log(fish_df['pricelevel'])

In [ ]:
# Elasticités pas MCO

In [11]:
# Offre
ols_o = sm.OLS(fish_df['lqty'], sm.add_constant(fish_df[['lprice', 'stormy', 'mixed']]))
ols_o = ols_o.fit(cov_type='HC0')
print(ols_o.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   lqty   R-squared:                       0.090
Model:                            OLS   Adj. R-squared:                  0.064
Method:                 Least Squares   F-statistic:                     4.359
Date:                Wed, 08 Mar 2023   Prob (F-statistic):            0.00615
Time:                        11:34:45   Log-Likelihood:                 114.55
No. Observations:                 111   AIC:                            -221.1
Df Residuals:                     107   BIC:                            -210.3
Df Model:                           3
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.1430      0.015    139.754      0.000       2.113       2.173
lprice        -0.0476      0.022     -2.196      0.028      -0.090      -0.005
stormy        -0.0326      0.023     -1.432      0.152      -0.077       0.012
mixed         -0.0129      0.020     -0.648      0.517      -0.052       0.026
==============================================================================
Omnibus:                       22.969   Durbin-Watson:                   1.539
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.418
Skew:                          -1.077   Prob(JB):                     2.48e-07
Kurtosis:                       4.393   Cond. No.                         4.58
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)

In [12]:
# Demande
ols_d = sm.OLS(fish_df['lqty'], sm.add_constant(fish_df[['lprice', 'rainy', 'cold', 'day2',
                                                         'day3', 'day4']]))
ols_d = ols_d.fit(cov_type='HC0')
print(ols_d.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   lqty   R-squared:                       0.212
Model:                            OLS   Adj. R-squared:                  0.167
Method:                 Least Squares   F-statistic:                     9.044
Date:                Wed, 08 Mar 2023   Prob (F-statistic):           5.96e-08
Time:                        11:41:27   Log-Likelihood:                 122.58
No. Observations:                 111   AIC:                            -231.2
Df Residuals:                     104   BIC:                            -212.2
Df Model:                           6
Covariance Type:                  HC0
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.1514      0.014    148.539      0.000       2.123       2.180
lprice        -0.0650      0.018     -3.591      0.000      -0.100      -0.030
rainy          0.0082      0.018      0.454      0.650      -0.027       0.044
cold          -0.0068      0.016     -0.415      0.678      -0.039       0.025
day2          -0.0608      0.022     -2.722      0.006      -0.105      -0.017
day3          -0.0664      0.023     -2.828      0.005      -0.112      -0.020
day4           0.0102      0.018      0.563      0.574      -0.025       0.046
==============================================================================
Omnibus:                       24.484   Durbin-Watson:                   1.476
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               35.238
Skew:                          -1.071   Prob(JB):                     2.23e-08
Kurtosis:                       4.741   Cond. No.                         4.76
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC0)